<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
	<meta charset="UTF-8"/>
	<title>Main: login and register</title>
	<link rel="stylesheet" href="/css/jquery-ui.min.css"/>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<!--<script src="/js/jquery-3.1.0.slim.min.js"></script>
	<script src="/js/jquery-ui.min.js"></script>-->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

	<script src="/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
			        aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="">Test task</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<div class="row">
				<ul class="nav navbar-nav">
					<li><a href="/cabinet"><i class="icon-picture"></i>Cabinet</a></li>
				</ul>


				<div th:unless="${account}"> <!--if not logged in-->
					<form th:action="@{/login}" method="post" class="navbar-form navbar-right">
						<div class="form-group">
							<input type="email" placeholder="Email" name="email" class="form-control "/>
						</div>
						<div class="form-group">
							<input type="password" placeholder="Password" name="password" class="form-control"/>
						</div>
						<!--<label class="checkbox">
							<input type="checkbox" name="shortSession" class="text-primary"/>15 min session
						</label>-->
						<button type="submit" class="btn btn-success">Sign in</button>
					</form>
				</div>

				<div th:if="${account}"> <!--if logged in-->
					<p>Hello, [[${customer.name}]]</p>
					<a th:href="@{/logout}" class="btn btn-danger">Logout</a>
				</div>

			</div>
		</div>
	</div>
</nav>

<div class="container" style="margin-top: 60px" id="page"> <!--width: 900px-->

	<!--experiments field start-->

	<div th:if="${customer} != null">
		<div th:switch="${customer.role}">
			<p th:case="'CUSTOMER'">User is an customer</p>
			<p th:case="#{roles.CUSTOMER}">User is a manager</p>
			<p th:case="*">User is guest</p>
		</div>
	</div>

	<!--error checking-->
	<div th:if="${param.error} != null">
		<div th:switch="${param.error}">
			<p th:case="'PWRequired'">PWRequired1</p>
			<p th:case="''">unknown reason</p>
			<p th:case="*">***</p>
		</div>
	</div>

	<div th:if="${param.error} == PWRequired">PWRequired2</div>
	<!--experiments end-->

	<div th:if="${param.error}" class="alert alert-danger alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
				aria-hidden="true">&times;</span></button>
		<strong>Error!</strong> For some reason
		<!--<li th:each="error : ${#param.error('*')}" th:text="${error}">1</li>-->
	</div>

	<div th:if="${param.logout}" class="alert alert-info alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
				aria-hidden="true">&times;</span></button>
		You have been logged out.
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2" id="page-content">

			<!--th:action="${/register}"-->
			<form class="form-horizontal" id="regform" th:action="@{/register}" action="register"
			      th:object="${customer}" method="POST">
				<fieldset>
					<div class="form-group">
						<label for="name" class="col-lg-3 col-md-4 col-sm-5 col-xs-3 control-label">Name*</label>
						<div class="col-lg-4 col-sm-5 col-xs-6">
							<input class="form-control" id="name" name="name" th:field="*{name}"/>
							<!--th:value="*{name}"-->
						</div>
					</div>

					<div class="form-group">
						<label for="surname" class="col-lg-3 col-md-4 col-sm-5 col-xs-3 control-label">Surname*</label>
						<div class="col-lg-4 col-sm-5 col-xs-6">
							<input class="form-control" th:field="*{surname}" id="surname" name="surname"/>
						</div>
					</div>


					<div class="form-group error">
						<label for="birth" class="col-lg-3 col-md-4 col-sm-5 col-xs-3 control-label"><strong>Birth date
							(ff users: dd.mm.yyy)*</strong></label>
						<div class="col-lg-4 col-sm-5 col-xs-4">
							<script>
								$(function (){
									$("#birth").datepicker({
										dateFormat: "dd.mm.yy",
										changeYear: true
									});
								});
							</script>
							<input type="datetime" class="form-control" th:field="*{birth}" id="birth" name="birth"/>
						</div>
					</div>

					<div class="form-group">
						<label for="data" class="col-lg-3 col-md-4 col-sm-5 col-xs-3 control-label">Data</label>
						<div class="col-lg-4 col-sm-5 col-xs-4">
							<textarea rows="3" class="form-control" th:field="*{data}" id="data" name="data"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="email" class="col-lg-3 col-md-4 col-sm-5 col-xs-3 control-label">Email*</label>

						<div class="col-lg-4 col-sm-5 col-xs-4">
							<input class="form-control" type="email" th:field="*{email}" id="email" name="email"
							       value=""/>
						</div>
					</div>

					<div class="form-group">
						<label for="password" class="col-lg-3 col-sm-3 col-xs-3 control-label">Password*</label>

						<div class="col-lg-2 col-sm-3 col-xs-3">
							<input class="form-control" type="password" th:field="*{password}" id="password"
							       name="password"/>
						</div>
						<div class="col-lg-2 col-sm-3 col-xs-3">
							<input class="form-control" type="password" id="password2" name="passwordConfirm"
							       title="one more"/>
						</div>
					</div>

					<div class="form-group">
						<div class="g-recaptcha" data-sitekey="6LcTaQwTAAAAAFytiO9tD2P2ibF2p-s3FK57lcUA"></div>
						<!--add js!-->
					</div>

					<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

					<label for="submit" class="col-sm-3 col-xs-3 control-label"></label>
					<input class="btn btn-primary col-sm-6 col-xs-6" type="submit" id="submit" name="Register"
					       value="Register"/>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</body>
</html>